/site/
*.html
*.log
*.pyc
.idea/
sandbox/Circuite_files/*
.venv
.python-version
sandbox/nowe_materialy/Math_Notes/Analysis.aux
sandbox/nowe_materialy/Math_Notes/Problems.aux
sandbox/nowe_materialy/Math_Notes/Problems.fdb_latexmk
sandbox/nowe_materialy/Math_Notes/Problems.fls
sandbox/nowe_materialy/Math_Notes/Problems.synctex.gz
sandbox/nowe_materialy/Math_Notes/Problems.toc
